@use '../abstracts/' as *;

.container {
    &_lm {
        background-color: map-get($colors, lm-lightgrey);
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1.5rem;
    }
    &_dm {
        background-color: map-get($colors, dm-black);
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1.5rem;
    }
}

