$colors: ( 
    lm-blue: rgba(0, 121, 255), 
    lm-grey: rgba(105, 124, 154), 
    lm-greyblue:rgba(75, 106, 155), 
    lm-darkgrey: rgba(43, 52, 66), 
    lm-lightgrey: rgba(246, 248, 255), 
    lm-white: rgba(254, 254, 254), 
    dm-blue: rgba(0, 121, 255), 
    dm-white: rgba(255, 255, 255), 
    dm-black: rgba(20, 29, 47), 
    dm-darkgrey: rgba(30, 42, 71)
    );