.header_lm {
  font-family: "Space Mono";
  font-size: 26px;
  line-height: 38px;
  font-weight: bold;
  color: rgb(43, 52, 66);
  display: flex;
  justify-content: space-between;
  align-self: center;
  width: 45.625rem;
}
.header_dm {
  font-family: "Space Mono";
  font-size: 26px;
  line-height: 38px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  align-self: center;
  width: 45.625rem;
}

.header_right_lm {
  font-family: "Space Mono";
  font-size: 13px;
  line-height: 20px;
  color: rgb(105, 124, 154);
  align-self: center;
  padding-right: 1rem;
  display: flex;
  justify-content: space-around;
  max-width: 5rem;
}
.header_right_dm {
  font-family: "Space Mono";
  font-size: 13px;
  line-height: 20px;
  color: rgb(255, 255, 255);
  align-self: center;
  padding-right: 1rem;
  display: flex;
  justify-content: space-around;
  max-width: 5rem;
}

@media screen and (max-width: 850px) {
  .header_lm {
    font-family: "Space Mono";
    font-size: 22px;
    line-height: 33px;
    font-weight: bold;
    width: 35.8125rem;
  }
  .header_dm {
    font-family: "Space Mono";
    font-size: 22px;
    line-height: 33px;
    font-weight: bold;
    width: 35.8125rem;
  }
}
@media screen and (max-width: 550px) {
  .header_lm {
    width: 20.4375rem;
  }
  .header_dm {
    width: 20.4375rem;
  }
}
.searchbar_lm {
  background-color: rgb(254, 254, 254);
  width: 730px;
  height: 69px;
  display: flex;
  align-self: center;
  align-items: center;
  box-sizing: border-box;
  padding-left: 20px;
  border-radius: 15px;
}
.searchbar_dm {
  background-color: rgb(30, 42, 71);
  width: 730px;
  height: 69px;
  display: flex;
  align-self: center;
  align-items: center;
  box-sizing: border-box;
  padding-left: 20px;
  border-radius: 15px;
}
.searchbar .icon-search {
  align-self: center;
  justify-self: flex-start;
}

.inputbar_lm {
  font-family: "Space Mono";
  font-size: 16px;
  line-height: 24px;
  flex-grow: 1;
  background-color: transparent;
  color: rgb(43, 52, 66);
  border: none;
}
.inputbar_lm:focus {
  border: none;
  outline: none;
}
.inputbar_dm {
  font-family: "Space Mono";
  font-size: 16px;
  line-height: 24px;
  flex-grow: 1;
  background-color: transparent;
  color: rgb(255, 255, 255);
  border: none;
}
.inputbar_dm:focus {
  border: none;
  outline: none;
}

.btn-search {
  font-family: "Space Mono";
  font-size: 16px;
  line-height: 24px;
  width: 6.625rem;
  height: 3.125rem;
  background-color: rgb(0, 121, 255);
  color: rgb(254, 254, 254);
  cursor: pointer;
  justify-self: end;
  border-radius: 15px;
  border: none;
}
.btn-search:hover {
  background-color: #1f89ff;
}

form {
  display: flex;
  align-items: center;
  flex: 1;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

@media screen and (max-width: 850px) {
  .searchbar_dm {
    background-color: rgb(30, 42, 71);
    width: 35.8125rem;
    height: 4.3125rem;
    display: flex;
    align-self: center;
    align-items: center;
  }
  .searchbar_lm {
    background-color: rgb(254, 254, 254);
    width: 35.8125rem;
    height: 4.3125rem;
    display: flex;
    align-self: center;
    align-items: center;
  }
}
@media screen and (max-width: 550px) {
  .searchbar_dm {
    background-color: rgb(30, 42, 71);
    width: 20.4375rem;
    height: 3.75rem;
    display: flex;
    align-self: center;
    align-items: center;
  }
  .searchbar_lm {
    background-color: rgb(254, 254, 254);
    width: 20.4375rem;
    height: 3.75rem;
    display: flex;
    align-self: center;
    align-items: center;
  }

  .btn-search {
    height: 2.875rem;
    width: 5.25rem;
  }

  .inputbar_lm {
    max-width: 10.625rem;
    font-size: 14px;
  }
  .inputbar_dm {
    max-width: 10.625rem;
    font-size: 14px;
  }

  .searchbar_lm {
    padding-left: 10px;
  }
  .searchbar_dm {
    padding-left: 10px;
  }
}
.container_lm {
  background-color: rgb(246, 248, 255);
  width: 100%;
  min-height: 900px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
}
.container_dm {
  background-color: rgb(20, 29, 47);
  width: 100%;
  min-height: 900px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
}

.profile_lm {
  width: 45.625rem;
  height: 27.75rem;
  background-color: rgb(254, 254, 254);
  border-radius: 15px;
  color: rgb(43, 52, 66);
  display: flex;
  align-self: center;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}
.profile_lm a {
  color: rgb(43, 52, 66);
}
.profile_dm {
  width: 45.625rem;
  height: 27.75rem;
  background-color: rgb(30, 42, 71);
  border-radius: 15px;
  color: rgb(255, 255, 255);
  display: flex;
  align-self: center;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}
.profile_dm a {
  color: rgb(255, 255, 255);
}

.user-img {
  align-self: flex-start;
}

.user-login {
  color: rgb(0, 121, 255);
}

.img-container {
  height: 7.3125rem;
  width: 7.3125rem;
  border-radius: 50%;
  align-self: flex-start;
  margin: 3rem;
}
.img-container .img-user {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  overflow: hidden;
  border-radius: 50%;
}

.user-data-container {
  flex: 1;
  height: 100%;
  padding-right: 3rem;
  padding-top: 2.5rem;
  font-family: var(--default-font-family);
}
.user-data-container .user-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.user-data-container .user-header h1 {
  margin-bottom: 0px;
}
.user-data-container .user-header span {
  margin-top: 1rem;
}
.user-data-container .user-bio-box {
  font-family: "Space Mono";
  font-size: 13px;
  line-height: 20px;
  display: flex;
  flex-direction: column;
  max-height: 5rem;
  overflow: scroll;
  margin-bottom: 10px;
}
.user-data-container .user-bio-box span {
  color: rgb(0, 121, 255);
}
.user-data-container .user-stats-box_lm {
  display: flex;
  justify-content: space-around;
  background-color: rgb(246, 248, 255);
  box-sizing: border-box;
  padding-top: 15px;
  align-self: center;
}
.user-data-container .user-stats-box_lm h2 {
  margin: 0px;
  padding: 10px 0 15px 0;
}
.user-data-container .user-stats-box_dm {
  display: flex;
  justify-content: space-around;
  background-color: rgb(20, 29, 47);
  box-sizing: border-box;
  padding-top: 15px;
  align-self: center;
}
.user-data-container .user-stats-box_dm h2 {
  margin: 0px;
  padding: 10px 0 15px 0;
}
.user-data-container .user-bottom {
  font-family: "Space Mono";
  font-size: 13px;
  line-height: 20px;
  margin-top: 15px;
  display: grid;
  display: -ms-grid;
  grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
  -ms-grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
  grid-gap: 1rem;
}
.user-data-container .user-bottom .user-bottom-info img {
  padding: 10px 10px 0 10px;
}

@media screen and (max-width: 850px) {
  .profile_lm {
    width: 35.8125rem;
    height: 30.0625rem;
    background-color: rgb(254, 254, 254);
    border-radius: 15px;
    color: rgb(43, 52, 66);
    display: flex;
    align-self: center;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
  }
  .profile_dm {
    width: 35.8125rem;
    height: 30.0625rem;
    background-color: rgb(30, 42, 71);
    border-radius: 15px;
    color: rgb(255, 255, 255);
    display: flex;
    align-self: center;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
  }

  .img-container {
    margin-top: 2rem;
  }

  .user-data-container {
    justify-self: flex-start;
    position: absolute;
    top: 280px;
    margin-left: 3.125rem;
    width: 30.8125rem;
  }

  .user-header {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }
  .user-header span {
    position: absolute;
    top: 130px;
    margin-left: -30px;
  }

  .user-login {
    margin-left: 150px;
  }

  .user-bio-box {
    margin-top: 65px;
    max-height: 4rem;
  }

  .user-bottom {
    grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
    -ms-grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
    grid-gap: 0.5rem;
    height: 3.9375rem;
    margin-top: 10px;
    padding-top: 0px;
  }
}
@media screen and (max-width: 550px) {
  .profile_lm {
    width: 20.4375rem;
    height: 32.3125rem;
    background-color: rgb(254, 254, 254);
    border-radius: 15px;
    color: rgb(43, 52, 66);
    display: flex;
    align-self: center;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
  }
  .profile_dm {
    width: 20.4375rem;
    height: 32.3125rem;
    background-color: rgb(30, 42, 71);
    border-radius: 15px;
    color: rgb(255, 255, 255);
    display: flex;
    align-self: center;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
  }

  .img-container {
    width: 4.375rem;
    height: 4.375rem;
    margin: 2rem;
  }

  .user-data-container {
    justify-self: flex-start;
    position: absolute;
    top: 260px;
    margin-left: 1.875rem;
    width: 17.4375rem;
  }
  .user-data-container .user-header {
    margin-left: 2rem;
  }
  .user-data-container .user-header span {
    position: absolute;
    top: 100px;
    margin-left: 40px;
  }
  .user-data-container h1 {
    font-family: "Space Mono";
    font-size: 22px;
    line-height: 33px;
    font-weight: bold;
  }

  .user-login {
    margin-left: 90px;
  }

  .user-bio-box {
    margin-top: 30px;
    max-height: 4rem;
    max-width: 100%;
    overflow-x: hidden;
    overflow-wrap: break-word;
  }

  .user-stats-box_lm {
    height: 85px;
  }
  .user-stats-box_lm h2 {
    font-family: "Space Mono";
    font-size: 16px;
    line-height: 24px;
  }
  .user-stats-box_dm {
    height: 85px;
  }
  .user-stats-box_dm h2 {
    font-family: "Space Mono";
    font-size: 16px;
    line-height: 24px;
  }
}/*# sourceMappingURL=index.css.map */